{% extends 'base.html' %}

{% block content %}
    <h2>sugerencias de reciclaje</h2>

    <p>busca los centros mas populares de reciclaje de tu pais</p>
    <a href="https://www.google.com/maps">aca podras ver solo busca centros de reciclaje y te saldran los mas populares</a>

    <h2>ciclismo</h2>

    <p>hidratate bien</p>
    <p>cuidate y sigue las reglas de transito</p>

    <h2>caminata</h2>

    <p>hidratate</p>
    <p>sigue las reglas de trancito de peatones</p>
{% endblock %}